<div class="container-fluid">

  <!-- 書き込み一覧 {{{ -->
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="span8">
              <h2>書き込み一覧</h2>
            </th>
            <th class="span4">
            </th>
          </tr>
        </thead>
        <tbody>
        <% @bbs_thread.bbs_responses.each do |response| %>
          <tr>
            <td>
              <div>
                <%= response.id %>：<a href="mailto:<%= response.mail %>"><%= response.name %></a> <%= response.info %>
              </div>
              <div>
                <%= response.body %>
              </div>
            </td>
            <td>
              <div>
                <%= link_to '編集', edit_bbs_response_path(response) %> /
                <%= link_to(
                  '削除',
                  bbs_response_path(
                    :id => response.id,
                    :success_callback_url => url_encode(bbs_thread_path(@bbs_thread)),
                  ),
                  :method => :delete,
                  data: {
                    confirm: '書き込みを削除してもよろしいですか？',
                  },
                ) %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- }}} -->

  <div class="row-fluid">
    <div class="span6">
      <div class="well">
        hello
      </div>
    </div>
    <div class="span6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h2>新規書き込み</h2>
            </th>
          </tr>
        </thead>
        <tbody>
        <%= form_for(
          @new_bbs_response,
          :url => create_response_bbs_thread_path(
            @bbs_thread,
            {
              :success_callback_url => url_encode(bbs_thread_path(@bbs_thread))
            }
          )
        ) do |form| %>
          <tr>
            <td>
              <h3>name</h3>
              <%= form.text_field :name, :class => 'span12' %>
            </td>
          </tr>
          <tr>
            <td>
              <h3>mail</h3>
              <%= form.text_field :mail, :class => 'span12' %>
            </td>
          </tr>
          <tr>
            <td>
              <h3>info</h3>
              <%= form.text_field :info, :class => 'span12' %>
            </td>
          </tr>
          <tr>
            <td>
              <h3>body</h3>
              <%= form.text_area :body, :class => 'span12' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.submit '書き込む', :class => 'btn btn-primary span12' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
